body {
  padding: 40px;
  background: whitesmoke;
  text-align: center;
}

button {
  border-radius: 5px;
  border: none;
  background: rgba(160, 160, 161, 0.608);
  padding: 10px;
}

.apple-shelf {
  background: lightcoral;
  border-radius: 10px;
  height: 30px;
  margin: 10px 0;
}

.orange-shelf {
  background: lightsalmon;
  border-radius: 10px;
  height: 30px;
}

